<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments of the People</h1>
    <% for (let c of profile ) { %>
        <ul>
            <li><a href="/comments/<%= c.id %>"> <%= c.username %></a> - <%= c.comments%></li>
        </ul>
    <% } %>

    <button><a href="/comments/new">Add Comments</a></button>

</body>
</html>