<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= profile.username %></h1>
    <p> <%= profile.comments %></p></p>
    <a href="/comments">Back to Main</a>
</body>
</html>